## Tuplas
São coleções de dados separados por vírgulas, normalmente dentro de parênteses. Seus dados podem ser de diversos tipos.

In [1]:
vogais = 'a', 'b', 'c'
impares = (1, 3, 5, 7, 9)

Apesar de ser uma boa prática, a presença de parênteses não necessariamente define uma tupla. A presença de vírgula é que normalmente faz isso:

In [2]:
x = [2]
y = (2)  # número inteiro
z = (2,)
w = 2,
r = ()
type(x), type(y), type(z), type(w), type(r)

(list, int, tuple, tuple, tuple)

Assim como as strings, as tuplas são tipos de dados **imutáveis** e, portanto, não é possível alterá-las.

### Conversões em tuplas

A função *tuple()* converte outros iteráveis em tuplas:

In [3]:
tuple('fernando')

('f', 'e', 'r', 'n', 'a', 'n', 'd', 'o')

In [4]:
tuple(range(1, 5))

(1, 2, 3, 4)

In [5]:
tuple([1, 3, 5, 7, 9])

(1, 3, 5, 7, 9)

### Acesso a elementos de uma tupla

Para acessar elementos de uma tupla, o processo é idêntico ao realizado em strings e listas, utilizando índices que se iniciam por 0 (zero):

In [6]:
estados = ('RJ', 'SP', 'MG', 'ES', 'PR', 'SC', 'RS')
estados[2]

'MG'

In [7]:
estados[-3]

'PR'

In [8]:
estados[1:5]

('SP', 'MG', 'ES', 'PR')

Assim como as strings, as tuplas são tipos de dados **imutáveis**, e, portanto, não é possível alterar um elemento de uma tupla via atribuição.

In [9]:
# estados[3] = 'AM'

### Condicionais e repetição

Tuplas suportam estruturas condicionais e de repetição da mesma forma que listas e strings:

In [10]:
vogais = tuple('AEIOU')
if 'F' in vogais:
    result = True
else:
    result = False
result

False

A função *enumerate()* retorna um objeto iterável contendo tuplas para cada elemento de um iterável. Cada tupla contém o elemento do iterável inicial e seu índice:

In [11]:
nomes = ['bernardo', 'frederico', 'fernando']
list(enumerate(nomes))

[(0, 'bernardo'), (1, 'frederico'), (2, 'fernando')]

In [12]:
for i, v in enumerate(vogais):
    if i != len(vogais) - 1:
        print(v.lower(), end='-')
    else:
        print(v.lower())

a-e-i-o-u

### Contagem de elementos

Assim como nas listas, o método *count()* retorna o número de ocorrências de um elemento em uma tupla:

In [13]:
nome = tuple('fernando')
nome.count('n')

2

### Obter índice de um elemento

Assim como nas listas, o método *index()* retorna o índice da primera ocorrência de um elemento em uma tupla:

In [14]:
sobrenome = tuple('bandeira')
sobrenome.index('a')

1

In [15]:
sobrenome.index('a', 2)

7

### Comprimento, somatório e valores máximo e mínimo de uma lista

As funções *len()*, *sum()*, *max()*, *min()* funcionam com tuplas da mesma forma que em listas:

In [16]:
tupla = 3, 4, 5, 6
len(tupla)

4

In [17]:
sum(tupla)

18

In [18]:
max(tupla)

6

In [19]:
min(tupla)

3

### Função *sorted()*

A função *sorted()* retorna uma lista ordenada contendo os elementos de uma tupla:

In [20]:
tupla = 4, 53, 5, 29, 7, 39, 0, 10
x = sorted(tupla)
x, type(x)

([0, 4, 5, 7, 10, 29, 39, 53], list)

### Operações com tuplas

Os operadores de soma e multiplicação funcionam nas tuplas da mesma forma que nas listas:

In [21]:
tupla1 = 1, 2, 3
tupla2 = (4, 5, 6)
tupla1 += tupla2
tupla1

(1, 2, 3, 4, 5, 6)

In [22]:
tupla3 = tupla2 * 3
tupla3

(4, 5, 6, 4, 5, 6, 4, 5, 6)

### Desempacotamento de tuplas

Similar ao desempacotamento de listas, é nada mais do que a múltipla atribuição de variáveis apresentada na primeira aula:

In [23]:
tupla = 'a', 'b', 'c'
letra1, letra2, letra3 = tupla
letra1 + letra2 + letra3

'abc'

### Funções *any()* e *all()*

Funcionam nas tuplas da mesma forma que nas listas:

In [24]:
any(('python', 0, False, '', [], 1))

True

In [25]:
any((None, False, 0))

False

In [26]:
all((1, 4, 9, 2, 3, 0))

False

In [27]:
all((2, 5, 6))

True

In [28]:
tupla = ()
all(tupla)

True

### Cópia de tuplas

Não ocorre cópia rasa em tuplas:

In [29]:
tupla = (1, 2, 3)
copia = tupla
copia += (4, 5, 6)
tupla, copia

((1, 2, 3), (1, 2, 3, 4, 5, 6))

### Listas vs. tuplas

Por oferecerem melhor performance e segurança, as tuplas devem ser utilizadas sempre que se tiver o objetivo de guardar dados de forma constante, sem intenção de modificar esse grupo de dados durante a execução do programa.