## Tipo *str* e tipo *None*
Como dito anteriormente, uma string é uma cadeia de caracteres. Ela pode estar contida entre aspas simples, aspas duplas, ou triplas aspas simples/duplas:

In [1]:
nome = 'Fernando'
sexo = "masculino"
cpf = '''123.456.789-00'''
data_nascimento = """10/08/1999"""

É possível converter dados de outros tipos para dados do tipo *str* utilizando a função *str()*:

In [2]:
idade = 20
'Você tem ' + str(20) + ' anos'  # é possível unir strings utilizando '+'

'Você tem 20 anos'

É possível repetir uma string utilizando o operador aritmético de multiplicação:

In [3]:
nome * 3

'FernandoFernandoFernando'

### Fatiamento (*slicing*) de strings
Cada caracter de uma string é associado a um índice, que se inicia em 0.  
Por exemplo, na string 'Tim Maia', tem-se a seguinte relação:

Caracter | Índice
---------|---------
T        |0  
i        |1  
m        |2  
&nbsp;   |3  
M        |4  
a        |5  
i        |6  
a        |7  

A partir dos índices, podemos acessar caracteres específicos de uma string:

In [4]:
nome = 'Tim Maia'
nome[4]

'M'

Utilizando índices negativos, pode-se facilmente acessar os últimos caracteres de uma string:

In [5]:
nome[-1]  # último caracter

'a'

In [6]:
nome[-2]  # penúltimo caracter

'i'

Além de caracteres, também é possível selecionar trechos de uma string, da seguinte forma:

In [7]:
nome[4:7]  # trecho do caracter de índice 4 até o de índice 7 (não incluso)

'Mai'

In [8]:
nome[:3]  # trecho do caracter inicial até o de índice 3 (não incluso)

'Tim'

In [9]:
nome[4:]  # trecho do caracter de índice 4 até o caracter final

'Maia'

Além dos caracteres de início e de parada, é possível definir ainda o passo utilizado para formar o trecho:

In [10]:
letras = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
letras[:10:4]

'AEI'

Podemos definir um passo negativo, desde que o caracter de início seja posterior ao caracter de parada:

In [11]:
letras[10:5:-1]

'KJIHG'

In [12]:
letras[4::-2]

'ECA'

In [13]:
letras[::-1]  # inversão da string

'ZYXWVUTSRQPONMLKJIHGFEDCBA'

As strings são tipos de dados **imutáveis** e, portanto, não é possível alterar um elemento de uma string via atribuição.

In [14]:
nome = 'fernando'
# nome[7] = 'a'

### Métodos e funções para manipulação de strings

In [15]:
nome = 'fernando bandeira'

#### Métodos/funções com retorno do tipo *str*:

In [16]:
nome.upper()  # todas as letras em caixa alta

'FERNANDO BANDEIRA'

In [17]:
nome.lower()  # todas as letras em caixa baixa

'fernando bandeira'

In [18]:
nome.capitalize()  # primeiro caracter em caixa alta

'Fernando bandeira'

In [19]:
nome.title()  # primeiro caracter de cada palavra em caixa alta

'Fernando Bandeira'

In [20]:
'fERNANDO'.swapcase()  # troca maiúsculas por minúsculas e vice-versa

'Fernando'

In [21]:
nome.replace('bandeira', 'mattos')  # substitui um trecho por outro

'fernando mattos'

In [22]:
' fernando  '.strip() + ' bandeira'  # remove espaços no início e final

'fernando bandeira'

In [23]:
max(nome)  # caracter mais próximo do fim do alfabeto

'r'

In [24]:
min(nome)  # caracter mais próximo do início do alfabeto

' '

Note que, graças ao caráter imutável das strings, nenhum desses métodos/funções altera a string original:

In [25]:
nome

'fernando bandeira'

#### Métodos/funções com retorno do tipo *int*:

In [26]:
len(nome)  # quantidade de caracteres

17

In [27]:
nome.count('n')  # quantidade de ocorrências de um trecho

3

In [28]:
nome.find('i')  # índice da primeira ocorrência de um trecho

14

#### Métodos/funções com retorno do tipo *bool*:

In [29]:
nome.isupper()  # verdadeiro caso a string esteja inteiramente em caixa alta

False

In [30]:
nome.islower()  # verdadeiro caso a string esteja inteiramente em caixa baixa

True

In [31]:
nome.istitle()  # verdadeiro se as iniciais de cada palavra forem maiúsculas

False

In [32]:
nome.startswith('fer')  # verdadeiro se a string inicia com o trecho informado

True

In [33]:
nome.endswith('ira')  # verdadeiro se a string termina com o trecho informado

True

In [34]:
nome.isalpha()  # verdadeiro se a string contiver apenas letras

False

In [35]:
nome.isnumeric()  # verdadeiro se a string contiver apenas números

False

In [36]:
nome.isspace()  # verdadeiro se a string contiver apenas espaços

False

In [37]:
nome.isalnum()  # verdadeiro se a string contiver apenas letras e números

False

### Tipo *None*
Esse tipo de dado serve para expressar ausência de valor e tipo. O valor de um dado desse tipo também é *None*.

In [38]:
x = None
type(x)

NoneType